@()

@main("Strona Główna") {
  <h1>Dostępne widoki:</h1>
  <ul>
    <li><a href="@routes.ProductController.show_products">Lista dostępnych produktów</a></li>
    <li><a href="@routes.ProductController.product_forms">Formularz dodawania produktu</a></li>
    <li><a href="@routes.ProductController.show_single_product(1)">Szczegóły dla konkretnego produktu</a></li>
  </ul>
  
  <h1>Kategorie:</h1>
  <ul>
    <li><a href="@routes.CategoryController.listCategories">Lista wszystkich kategorii</a></li>
    <li><a href="@routes.CategoryController.newCategory">Formularz dodawania kategorii</a></li>
    <li><a href="@routes.CategoryController.showCategory(1)">Szczegóły dla konkretnej kategorii</a></li>
    <li><a href="@routes.CategoryController.editCategory(1)">Edycja wybranej kategorii</a></li>
  </ul>
}
