@(id: Int, productForm: Form[models.ProductForm], categories: List[models.Category])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Edytuj produkt") {
  <div class="container">
    <h1>Edytuj produkt</h1>
    
    @form(action = routes.ProductController.update_product(id)) {
      @CSRF.formField
      <div class="form-group">
        @inputText(productForm("name"), Symbol("class") -> "form-control", Symbol("_label") -> "Nazwa produktu")
      </div>
      
      <div class="form-group">
        @select(
          field = productForm("category"),
          options = categories.map(cat => cat.name -> cat.name),
          Symbol("class") -> "form-control",
          Symbol("_label") -> "Kategoria"
        )
      </div>
      
      <div class="form-group">
        @inputText(productForm("price"), 
          Symbol("class") -> "form-control", 
          Symbol("_label") -> "Cena",
          Symbol("type") -> "number",
          Symbol("step") -> "0.01")      
      </div>
      
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
        <a href="@routes.ProductController.show_products" class="btn btn-secondary">Anuluj</a>
      </div>

      <a href="@routes.HomeController.index()" class="btn btn-secondary">
        <i class="fa fa-home"></i> Strona główna
      </a>
    }
  </div>
}